{{!-- No necesitas el DOCTYPE, html, head o body aquí --}}
<h1>Carts</h1>
{{#if carts.length}}
    <ul>
        {{#each carts}}
            <li>
                <h2>Cart ID: {{id}}</h2>
                <p>Total Products: {{totalQuantity}}</p>
                <ul>
                    {{#each products}}
                        <li>
                            Product ID: {{id}} - Title: {{title}}, Price: {{price}}, Quantity: {{quantity}}
                        </li>
                    {{/each}}
                </ul>
            </li>
        {{/each}}
    </ul>
{{else}}
    <p>No carts found</p>
{{/if}}
