<h1>Cart</h1>
{{#each cart.products}}
<div class="product">
    <h2>{{this.name}}</h2>
    <p>Quantity: {{this.quantity}}</p>
    <p>Price: {{this.price}}</p>
    <!-- Botón para eliminar producto -->
    <button onclick="removeFromCart('{{this._id}}')">Remove</button>
</div>
{{/each}}


{{!-- <h1>Cart</h1>
{{#each cart.products}}
<div class="product">
    <h2>{{this.name}}</h2>
    <p>Quantity: {{this.quantity}}</p>
    <p>Price: {{this.price}}</p>
    <!-- Botón para eliminar producto -->
    <button onclick="removeFromCart('{{this.id}}')">Remove</button>
</div>
{{/each}} --}}